
body {
    background-image: url('https://media.cntraveler.com/photos/5f887b967aefd0f473d5bebb/master/pass/OCBC%20Skyway%20&%20Supertrees%20-%20Credit%20Gardens%20by%20the%20Bay.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    
}
#myheader {
    color: white;
    padding: 40px;
    text-align: center;
    
}
#my {
    color: white;
    padding: 20px;
    text-align: center; 
    
    height: auto;
    background-color: rgb(199, 90, 90);
    border-width: 0px;
    border-style: solid;
    border-radius: 999px;
}
#header {
    color: white;
    padding: 20px;
    text-align: center;
    height: auto;
    background-color: rgb(211, 102, 102);
    border-width: 0px;
    border-style: solid;
    border-radius: 50px;
}
    

#head {
    color: white;
    padding: 20px;
    text-align: center;
    height: auto;
    background-color: rgb(211, 102, 102);
    border-width: 0px;
    border-style: solid;
    border-radius: 50px;
    
}
#eader {
    color: white;
    padding: 40px;
    text-align: center;
    
}
#älä {
    color: white;
    padding: 20px;
    text-align: center;
    height: auto;
    background-color: rgb(211, 102, 102);
    border-width: 0px;
    border-style: solid;
    border-radius: 50px;
    
}
#ole {
    color: white;
    padding: 20px;
    text-align: center;
    height: auto;
    background-color: rgb(211, 102, 102);
    border-width: 0px;
    border-style: solid;
    border-radius: 50px;
}
#oke {
    color: white;
    padding: 40px;
    text-align: center;
    
}
#toke {
    color: white;
    padding: 40px;
    text-align: center;
    
}
#joku {
    color: white;
    padding: 0;
    text-align: right;

}
#joko {

    color: white;
    padding: 0;
    text-align: left;
}
#ei {
    color: white;
    padding: 0;
    text-align: center;
}
.header {
    background-color: white;
    padding: 20px;
    text-align: center;
}
.topnav {
    overflow: hidden;
    background-color: rgb(226, 162, 151);
    border-radius: 999px;

}
.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}
.topnav a:hover {
     background-color: #ddd;
     color: black;
}
#mai {
    display: flex;
}

     

  